{% extends "recipes/base.html" %}

{% block content %}
<section class="about-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="image-container">
          <img src="https://media.gettyimages.com/id/1174317702/vector/indian-foods-icon-set.jpg?s=612x612&w=0&k=20&c=2TOGisbT87zFHIOIlF9hyQjFMIkecl1b8U2v3m74Ozk=" class="img-fluid rounded shadow-lg" alt="About Us">
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Welcome to our food recipe website! We are passionate about food and believe that cooking is a creative and fulfilling experience.</p>
        <p>Our website is dedicated to helping people discover and share delicious recipes from all around the world.</p>
        <p>Whether you're a beginner or a seasoned pro, you'll find plenty of inspiration and guidance on our site. Join our community and share your own recipes and cooking experiences.</p>
        <p>Thank you for joining us, and happy cooking!</p>
      </div>
    </div>
  </div>
</section>

<style>
.image-container {
  max-width: 100%;
  height: auto;
}
</style>

{% endblock content %}
